#wrapper {
  width: 600px;
}

#search {
    position: relative;
}

#search input {
    padding-left: 25px; width: 600px;
}

#items-discovered {
    margin-top: 1em;
}

#advanced-discover-search {
    margin-bottom: 1em;
}

#advanced-search-items {
    margin-top: 1em;
}