#wrapper {
  padding-top: 50px;
  width: 400px;
  margin: 0 auto 0 auto;
}

#search {
    position: relative;
}

#search input {
    padding-left: 25px;
}

#items-discovered {
    margin-top: 1em;
}

#advanced-discover-search {
    margin-bottom: 1em;
}

#advanced-search-items {
    margin-top: 1em;
}