{% extends "base.html" %}
{% load pages_tags mezzanine_tags keyword_tags comment_tags hydroshare_tags %}
{% block meta_title %}Discover{% endblock %}
{% block main %}
    <input type="hidden" id="static-url" value="{{ STATIC_URL }}">
    <div class="container" id="discover-main">
        <div class="row">
            <div class="col-12">
                <h2 class="page-title">New Discover</h2>
            </div>

            <div class="col-12" id="discover-search">
                <div id="search" class="search-field">
                    <span class="glyphicon glyphicon-search search-icon"></span>
                    <input class="form-control" name="query" v-model="searchQuery"
                           @keyup.enter="searchClick('{{ csrf_token }}')">
                </div>
                {% if q %}
                    <br/>Searched: {{ q }}<br/>
                {% endif %}
                <a href="{% url 'search' %}?mode=advanced">Advanced</a>

                <resource-listing sample="{{ resources }}" itemcount="{{ initialitemcount }}"
                    :columns="gridColumns"
                    :filter-key="searchQuery">
                </resource-listing>
            </div>

            {#            TODO consider moving to props #}
            <script type="text/javascript">const q = '{{ q }}';</script>

            <script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/search.css"/>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vue-2.6.10-dev.js"></script>

{% endblock %}
